@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lobster&display=swap');


body{
    background-color:cornflowerblue;
    
}

*{
    margin:0;
    padding: 0;
}

.container{
    min-height: 45vh;
    background-color:darkgoldenrod;
    color:black;
    font-family: 'Architects Daughter', cursive;
   display: flex;
   margin: 23px auto;
   width: 40%;
   border-radius: 12px;
   padding: 34px;
   justify-content: space-evenly;
   background-image: url('trees.jpg');
}

.pname{
    height: 70px;
    display: flex;
    font-family: 'Architects Daughter', cursive;
    background-color:cornsilk;
    color: black;
    margin: 12px 0;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 34px;
    font-weight: bolder;
}

a:link{
    color:blue;
}

a:visited{
    color: blueviolet;
}

a:hover{
    color:crimson;
}

a:active{
    color: black;
}